.total-info {
  width: 100%;
  border: 1px solid #fff;
  border-radius: 8px;
}

.item {
  display: flex;
}

.item:not(:last-child) {
  border-bottom: 1px solid #fff;
}

.key,
.value {
  flex: 1;
  text-align: center;
  padding: 10px;
}

.key:not(:last-child) {
  border-right: 1px solid #fff;
}

.title .key {
  display: flex;
  justify-content: start;
  font-size: 30px;
  width: 100%;
  padding: 20px;
}

@media screen and (width <= 830px) {
  .total-info {
    display: none;
  }
}
