.title {
  font-size: 30px;
}

.agent {
  height: 100%;
  border: 1px solid #fff;
  padding: 20px;
  border-radius: 8px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.content {
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 20px;
}

.agent-title {
  font-size: 25px;
}

.body, .profits, .infos {
  display: flex;
  align-items: flex-end;
  gap: 20px;
}

.block {
  &-title {
    font-weight: 700;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.strategy {
  display: flex;
  gap: 10px;
}

.agent-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  &-left, &-right {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &-right {
    gap: 20px;
  }

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.network-img {
  width: 28px;
  height: 28px;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 15px;
}

.view-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  border: 1px solid #fff;
  background-color: #000;

  &:hover {
    background-color: #2b2b2b;
  }
}

.info-params {
  display: flex;
  gap: 20px;

  &-mobile {
    display: none;
  }
}

.column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pool {
  border: 1px solid #fff;
  padding: 10px;
  border-radius: 8px;

  &-value {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.pools {
  max-width: 455px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.pools-title {
  &:not(:last-child) {
    margin-bottom: 20px;;
  }
}

@media screen and (max-width: 1230px) {
  .body {
    flex-direction: column;
  }

  .buttons, .content {
    width: 100%;
    flex-direction: row;
  }

  .button {
    flex: 1;
  }
}

@media screen and (max-width: 1000px) {
  .content {
    align-items: flex-start;
    flex-direction: column;
  }

  .pools {
    max-width: 100%;
  }
}

@media screen and (max-width: 880px) {
  .pools {
    max-width: 455px;
  }
}



@media screen and (max-width: 650px) {
  .agent-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .buttons {
    flex-direction: column;
  }

  .header {
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
  }

  .search {
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .info-params {
    display: none;

    &-mobile {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}