.token-icon {
  width: 20px;
  height: 20px;
}

.title {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.description {
  font-size: 16px;
  margin-bottom: 20px;
}


.burn-button {
  width: 100%;
}

.max-button {
  border-radius: 0;
}

.checked, .not-checked {
  margin-top: 15px;
}

.not-checked {
  padding-top: 10.8px;
  padding-bottom: 10.8px;
}

.checked {
  padding: 0;
}